.meme{
    position: relative;
    text-align: center;
    width: 300px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 1px 2px  #000;
}

body {
    padding: 1em;
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightgray;
}


input {
    box-sizing: border-box;
    width: 100%;
    margin: 5px;
    border: 2px solid lightslategray;
    padding: 10px;
}


button {
    padding: 10px;
    background-color:lightslategray;
    border: 1px solid darkslategray;
}

#memeForm {
    color:darkslategray;
    padding: 1em;
}

#memeForm p{
    width: 100%;
}

#form{
    margin: 10px;
}

#form{
    width: 50%;
    background-color: whitesmoke;
    padding: 1em;
    box-shadow: 1px 2px 5px darkslategray;
}

#memes {
    padding-top: 1em;
}

.meme:hover img{
    opacity: 0.7;
}

.meme:hover .remove{
    opacity: .8;
}

.meme img{
    width: 100%;
    box-shadow: 1px 2px 5px darkslategray;

}

.top{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.bottom{
    position: absolute;
    bottom: 20px;
    left: 0;
    right:0;
}

.remove{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    font-size: 4em;
    color:rgb(28, 31, 31);
    transform: translate(-50%, -50%);

}